{% extends "layout.html" %}

{% block title %}
    Members
{% endblock %}
{% block main %}

<h2>MEMBERS LIST</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="add">
  Add New Member
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Member</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <table>
          <form action="/members" method="post">
            
            <tr>
              <td>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id=cl_Fname" name="cl_Fname" placeholder="First Name" type="text" required>
            </div>
          </td>
          <td>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cl_Lname" name="cl_Lname" placeholder="Last Name" type="text" required>
            </div>
          </td>
          </tr>
          <tr>
            <td>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="cl_num" name="cl_num" placeholder="Phone Number" type="number" required>
            </div>
          </td>
          <td>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="cl_BD" name="cl_BD" placeholder="Birth Date" type="date" required>
            </div>
          </td>
          </tr>
          <tr>
            <td colspan="2">
            <button  class="btn btn-default" type="submit">Add</button>
            </td>
          </tr>
        </form>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Student</th>
         
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for s in history %}
      <tr>
      <td> {{s.name}}</td>
      <td> {{s.price}}</td>
      <td> {{s.trans_at}}</td>
      <td> {{s.shares}}</td>
      <td> {{s.trans_type}}</td>



      </tr>
      {% endfor %}
    
    </tbody>
  </table>






{% endblock %}